/* Clases de utilidad */
.bg-mega {
    background: #0049fc !important;
}

.bg-ocean {
    background: #f3f6ff !important;
}

.btn-mega {
    background: #0049fc !important;
    border: 1px solid #0049fc !important;
    color: #fff !important;
}

.btn-outline-mega {
    border: 1px solid #0049fc !important;
    color: #0049fc !important;
}

.btn-grey{
    background: #a3a4ac !important;
    border: 1px solid #a3a4ac !important;
    color: #fff !important;
}

.text-mega {
    color: #0049fc !important;
}

.text-primary-deep {
    color: #001528 !important;
}

.border-none {
    border: none !important;
}

.border-grey {
    border: 1px solid #ccc !important;
}

.float-right {
    float: right !important;
}

.item-disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.current-rounded {
    border-radius: 11px !important;
}

.focus-input {
    border: 1px solid #155EEF !important;
    box-shadow: 0.0 0.15px 9px 1px #155EEF !important;
}

/* Override BS */
.shadow {
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.15) !important;
}

.sidebar .sidebar-menu > ul > li > ul > li.submenu > a.subdrop,  a.subdrop .menu-arrow {
    background: #f3f6ff !important;
    color: #212B36 !important;
}

.sidebar .sidebar-menu > ul > li > ul > li.submenu > a.subdrop .menu-arrow,  a.subdrop .menu-arrow span  {
    background: #e8eeff !important;
    color: #212B36 !important;
}

.sidebar .sidebar-menu > ul > li > ul > li.submenu > a.subdrop i, span {
    color: #212B36 !important;
}

.sidebar .sidebar-menu > ul > li > ul > li.submenu > a.subdrop .menu-arrow::before {
    border-color:  #0049fc !important;
}

.toggle-theme {
    display: none !important;
}

.selected_menu {
    background: #f3f6ff !important;
    color: #212b36 !important;
}