/* Generador de colores aleatorios según el nombre/ID */
.avatar-circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    flex-shrink: 0;
}

/* Ajustes visuales a las opciones del menú desplegable */
.select2-user-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 2px;
}

.select2-user-card .user-name {
    font-weight: 600;
    color: #333;
    line-height: 1.2;
    margin: 0;
}

.select2-user-card .user-email {
    font-size: 11px;
    color: #888;
    margin: 0;
}

/* Personalizar las etiquetas seleccionadas (Tags) */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ffffff !important;
    border: 1px solid #e5e9eb !important;
    border-radius: 12px !important;
    padding: 6px 12px !important;
    margin-top: 5px !important;
    display: inline-flex !important;
    align-items: center !important;
}

.select2-selection__choice__remove {
    background: none !important;
    color: #333 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #888 !important;
    margin-right: 8px !important;
    border: none !important;
    font-size: 16px;
}

.icons-group-actions > button{
    font-size: 1.5em;
}

.icons-group-actions > button:hover{
    font-size: 1.5em;
    background-color: #155EEF;
    color: #fff;
}

.timeline-item {
    position: relative;
    padding-bottom: 1.5rem;
}

/* Oculta la línea en el último elemento */
.timeline-item:last-child {
    padding-bottom: 0;
}

/* Dibuja la línea punteada vertical detrás de los íconos */
.timeline-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 19px; /* Centra la línea respecto al ícono de 38px (38/2 = 19) */
    bottom: 0;
    width: 0;
    border-left: 3px dotted #adb5bd; /* Puntos grises */
    z-index: 1;
}

/* Ajustes div historial de logs */
.ticket-log-chanel-endpoint {
    height: 400px;
    overflow-y: scroll;
}